body{
   height: 95vh;
   width: 95;
   display: flex;
   justify-content: center;
   align-items: center; 
   flex-direction: column;
   color: #D31A92;
   font-family: verdana;
   background-image: url('img/imgsnakebackground.png');
}